<?php
return array(
    'serverURL' => 'your.church.tools',
    // For which group type do you wish to generate
	'groupType' => 15
    //
    // For login choose either user+pw login
    // or the token based login
    // 
    // Token login is recommended
    //
    // For user+pw login use the two keys below
    // 'loginUser' => '<your-user-login-email>',
    // 'loginPassword' => '<your-user-login-password>',
    // 
    // For tokin login just fill in the token below (Recommended)
	// The user needs to be memeber of the groups, or superadmind
	// Otherwise you don't see the group meetings
	//
    'loginToken' => 'your-api-key',
    'loggingToFileEnabled' => false,
    'loggingToConsoleEnabled' => false,
    'loggingLevelDebug' => false,
    // How long entries are cached in seconds, before they are fetched from CT again
    // Default 1 hour
    'cacheLifeTime' => 3600
);
